.input-search:focus {
    outline: none; 
}

.input-search {
    margin-right: 2em; 
    padding-left: 10px;
    width: 250px; 
    height: 35px; 
    font-size: 16px;
    color: #534BB2; 
}

.input-search::placeholder{
    color: rgba(128, 128, 128, 0.38); 
}